<header class="navbar navbar-expand-sm navbar-light d-print-none">
  <div class="container-xl">
    <%= link_to root_path do %>
      <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
        Ratinalyze
      </h1>
    <% end %>
  </div>
</header>