<div class="page">
  <header class="navbar navbar-expand-sm navbar-light d-print-none">
    <div class="container-xl">
      <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
        Ratinalyze
      </h1>
    </div>
  </header>
  <div class="page-wrapper">
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-deck row-cards">
          <div class="col-6">
            <div class="card">
              <div class="card-body" data-controller="line-chart">
                <div data-line-chart-target="chart"></div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body" data-controller="area-chart">
                <div data-area-chart-target="chart"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-deck row-cards mt-4">
          <div class="col-8">
            <div class="card">
              <div class="card-body" data-controller="bar-chart">
                <div data-bar-chart-target="chart"></div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" data-controller="pie-chart">
                <div data-pie-chart-target="chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>